*, *:before, *:after 
{
  box-sizing: border-box;
}

html, body, input, select
{
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3
{
  font-family: 'Arbutus Slab', serif;
}

button
{
  font-family: 'Press Start 2P', cursive;
  padding: 20px;
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
  background-color: #77bb66;
  box-shadow: inset -4px -4px 0px 0px #227722;
  margin: 6px;
}
button:before, button:after 
{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}
button:before 
{
  top: -6px;
  left: 0;
  border-top: 6px black solid;
  border-bottom: 6px black solid;
}
button:after 
{
  left: -6px;
  top: 0;
  border-left: 6px black solid;
  border-right: 6px black solid;
}
button:hover
{
  background-color: #88cc77;
  text-indent: -2px;
  box-shadow: inset -6px -6px 0px 0px #227722;
}

input
{
  padding: 6px;
  margin: 6px;
  font-size: 1.3rem;
  border-radius: 6px;
  border: 1px solid #000000;
  width: 60%;
  text-align: center;
  outline:none;
}

input:focus
{
  padding: 5px;
  border: 2px solid #000000;
}

select
{
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #000000;
  width: 60%;
  text-align: center;
}

label
{
  font-size: 0.9rem;
}

label:after 
{ 
  content: "\A"; 
  white-space: pre; 
} 